<div class="fixed-header">
    <h1 class="pointable" [routerLink]="'/'">Event Driven Architecture: ePayroll PoC</h1>
    <nav class="navbar navbar-expand-sm justify-content-center">
        <button type="button" class="btn btn-primary" [routerLink]="'/employeeview'">Employee</button>
        <button type="button" class="btn btn-secondary" [routerLink]="'/employerview'">Employer</button>
        <button type="button" class="btn btn-warning" [routerLink]="'/errorview'">Error</button>
    </nav>
</div>

