<div class="container">
  <h4>Enter Employer BN Number:</h4>
  <div class="input-group">
      <input type="search" type="number" class="form-control rounded" placeholder="Search Employer by BN" [(ngModel)]="searchBN" aria-label="Search" aria-describedby="search-addon" />
  </div>  
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 card hoverwell" *ngFor="let employers of employers |filter:searchBN:'bn'" [routerLink]="['/employerview',employers.recordID]">
        <h3>{{employers?.name}}</h3>
        <div *ngIf="employers?.employeeSin"><b>Employer BN:</b> {{employers?.bn}}</div>
        <div *ngIf="employers?.periodStart"><b>Period Beginning:</b> {{employers?.periodStart}}</div>
        <div *ngIf="employers?.periodEnd"><b>Period End:</b> {{employers?.periodEnd}}</div>
    </div>
  </div>
</div>
