/* You can add global styles to this file, and also import other style files */
body{
    background-color: #e7e7e7;
    width: 100%;
}

.hoverwell:hover {
    background-color: #949494;
    cursor: pointer;
}
  
.container {
padding-top: 10px;
}
