/* You can add global styles to this file, and also import other style files */
body{
    background: #b3d7ff;
    width: 100%;
}

.hoverwell:hover {
    background-color: #949494;
    cursor: pointer;
}
  
.container {
padding-top: 10px;
}

.pointable {
cursor: pointer;
}

  
