/* You can add global styles to this file, and also import other style files */
body {
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  width: 100%;
  background-attachment: fixed;
}

html {
  min-height: 100%;
}

.hoverwell:hover {
  background-color: #dadada;
  cursor: pointer;
}

.container {
  padding-top: 10px;
}
