<div class="container">
  <br />
</div>

<div id="myTable">
  <table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th recordId>Record id</th>
        <th errNum>Error number</th>
        <th errDes>Error description</th>
        <th data>Data</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let error of errors" [routerLink]="['/errorview', error.id]">
        <td>{{ error?.id }}</td>
        <td>{{ error?.json?.errorNumber }}</td>
        <td>{{ error?.json?.errorDescription }}</td>
        <td>{{ error?.jsonString }}</td>
      </tr>
    </tbody>
  </table>
</div>
