<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">
   <servers>
      <server>
         <configuration>
            <httpConfiguration>
               <all>
                  <usePreemptive>true</usePreemptive>
               </all>
            </httpConfiguration>
         </configuration>
         <id>cra-maven-central</id>
         <username>czf243</username>
         <password>AKCp8ihAxZ717MDchP1w6yNPC27DMBKQG53wcEFuGcHqtaQrYnRzyT33dfiegatPFZZUfiVnc</password>
      </server>
      <server>
         <configuration>
            <httpConfiguration>
               <all>
                  <usePreemptive>true</usePreemptive>
               </all>
            </httpConfiguration>
         </configuration>
         <id>cra-maven-oracle</id>
         <username>czf243</username>
         <password>AKCp8ihAxZ717MDchP1w6yNPC27DMBKQG53wcEFuGcHqtaQrYnRzyT33dfiegatPFZZUfiVnc</password>
      </server>
      <server>
         <configuration>
            <httpConfiguration>
               <all>
                  <usePreemptive>true</usePreemptive>
               </all>
            </httpConfiguration>
         </configuration>
         <id>cra-maven-internal</id>
         <username>czf243</username>
         <password>AKCp8ihAxZ717MDchP1w6yNPC27DMBKQG53wcEFuGcHqtaQrYnRzyT33dfiegatPFZZUfiVnc</password>
      </server>
   </servers>
   <mirrors>
      <mirror>
         <id>cra-maven-central</id>
         <mirrorOf>cra-maven-central</mirrorOf>
         <url>https://cedp-artifactory.omega.dce-eir.net/artifactory/cra-maven-central</url>
      </mirror>
      <mirror>
         <id>cra-maven-oracle</id>
         <mirrorOf>cra-maven-oracle</mirrorOf>
         <url>https://cedp-artifactory.omega.dce-eir.net/artifactory/cra-maven-oracle</url>
      </mirror>
      <mirror>
         <id>cra-maven-internal</id>
         <mirrorOf>*</mirrorOf>
         <name>cra-maven-internal</name>
         <url>https://cedp-artifactory.omega.dce-eir.net/artifactory/cra-maven-internal</url>
      </mirror>
   </mirrors>
   <profiles>
      <profile>
         <id>artifactory</id>
         <repositories>
            <repository>
               <id>cra-maven-central</id>
               <name>cra-maven-central</name>
               <url>https://cedp-artifactory.omega.dce-eir.net/artifactory/cra-maven-central</url>
            </repository>
            <repository>
               <id>cra-maven-oracle</id>
               <name>cra-maven-oracle</name>
               <url>https://cedp-artifactory.omega.dce-eir.net/artifactory/cra-maven-oracle</url>
            </repository>
            <repository>
               <id>cra-maven-internal</id>
               <name>cra-maven-internal</name>
               <url>https://cedp-artifactory.omega.dce-eir.net/artifactory/cra-maven-internal</url>
            </repository>
         </repositories>
         <pluginRepositories>
            <pluginRepository>
               <id>cra-maven-central</id>
               <name>cra-maven-central</name>
               <url>https://cedp-artifactory.omega.dce-eir.net/artifactory/cra-maven-central</url>
            </pluginRepository>
            <pluginRepository>
               <id>cra-maven-oracle</id>
               <name>cra-maven-oracle</name>
               <url>https://cedp-artifactory.omega.dce-eir.net/artifactory/cra-maven-oracle</url>
               <releases>
                  <updatePolicy>never</updatePolicy>
               </releases>
               <snapshots>
                  <updatePolicy>never</updatePolicy>
               </snapshots>
            </pluginRepository>
         </pluginRepositories>
      </profile>
      <profile>
         <id>sonar-local</id>
         <activation>
            <activeByDefault>true</activeByDefault>
         </activation>
         <properties>
            <!-- Optional URL to server. Default value is http://localhost:9000 -->
            <sonar.host.url>https://localhost:9000</sonar.host.url>
         </properties>
      </profile>
      <profile>
         <id>sonar</id>
         <activation>
            <activeByDefault>true</activeByDefault>
         </activation>
         <properties>
            <!-- Optional URL to server. Default value is http://localhost:9000 -->
            <sonar.host.url>https://cedp-sonarqube.omega.dce-eir.net</sonar.host.url>
            <sonar.login>...your sonarqube token...</sonar.login>
         </properties>
      </profile>
   </profiles>
   <pluginGroups>
      <pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
   </pluginGroups>
   <activeProfiles>
      <activeProfile>artifactory</activeProfile>
   </activeProfiles>
</settings>